@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Work+Sans:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Bruno Ace SC', cursive;
    /* font-family: 'Work Sans', sans-serif; */

}
body {
    display: flex;
    justify-content: center;
    background-color: black;
}

.page{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

h1{
    margin-bottom: 30px;
    color: white;
}

.outline{
    height: auto;
    max-width: 320px;
    background-color: rgb(16, 16, 20);
    border: 5px solid white;
    border-radius: 15px;
    padding:  0px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 250px;
}

.container img {
    object-fit: contain;
    width: 100%;
    /* background-color: rgba(214, 255, 100, 0.5); */
}

input, button {
    width: 250px;
    height: 50px;
    min-height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    border: none;
}
input {
    background-color: rgba(240, 248, 255, 0.801);
    outline: none;
    transition-duration: 0.5s;
}

input:hover {
  background-color: rgba(179, 210, 238, 0.801);
  
}

button {
    background-color: rgb(24, 141, 102);
    color: wheat;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(134, 133, 133, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #888585;
  transform: translateY(4px);
}

  /* button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  } */

  #list{
    list-style: none; 
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    color: aliceblue;
  }

  #list > * {
    background-color: rgb(207, 14, 23);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    margin: 0px 0px 10px 0; 
    color: gold;
    text-align: center;
  }

  #list > *:hover {
    background-color: #ffecc7;
    border-radius: 5px;
    color: red;
    cursor: pointer;
  }

 

  .gif {
    animation: play 10s infinite;
  }
  
  .pause {
    animation-play-state: paused;
  }
  
  @keyframes play {
    from { opacity: 1; }
    to { opacity: 0.1; }
  }